#Login {
  width: 60vh;
  height: 50vh;
  background: rgba(41,41,51,0.6);
  position: fixed;
  left: 5%; top: 10%;
  border-radius: 0.3vh;
  overflow: hidden;
}

#Login > #Topbar {
  width: 100%;
  height: 4vh;
  background: #36aaf9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vh;
}

#Login > .data-field {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1vh auto;
}
#Login > .data-field > label {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  color: rgba(221,221,233,0.5);
  font-size: 1.4vh;
  position: absolute;
}
#Login > .data-field > input {
  background: none;
  border: none;
  border-bottom: 0.3vh solid #3D3D4C;
  outline: none;
  color: white;
  width: 100%;
  height: 4vh;
  padding: 1vh 0;
  position: relative;
  font-size: 1.4vh;
  transition: all 0.3s ease-in-out;
}
#Login > .data-field > input:focus,
#Login > .data-field > input:valid {
  margin-top: 4vh;
}
#Login > .data-field > input:focus {
  border-bottom: 0.3vh solid #36aaf9;
  margin-top: 4vh;
}